.github/ export-ignore
.travis/ export-ignore
Tests/ export-ignore
.appveyor.yml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.drone.jsonnet export-ignore
.drone.yml export-ignore
.editorconfig export-ignore
phpunit.appveyor_sql2012sp1.xml.dist export-ignore
phpunit.appveyor_sql2014.xml.dist export-ignore
phpunit.appveyor_sql2017.xml.dist export-ignore
phpunit.mariadb.xml.dist export-ignore
phpunit.mysql.xml.dist export-ignore
phpunit.mysqli.xml.dist export-ignore
phpunit.pgsql.xml.dist export-ignore
phpunit.sqlite.xml.dist export-ignore
phpunit.sqlsrv.xml.dist export-ignore
phpunit.xml.dist export-ignore
ruleset.xml export-ignore
